@model IEnumerable<WebApp.DataClasses.TodoList>

<h2>Todo Lists</h2>

<p><a asp-action="Create">Create New</a></p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
						<a asp-action="ViewDetails" asp-route-id="@item.Id" class="btn btn-primary btn-sm">View Details</a>
					</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No to-do lists found. You can create one using the link above!</p>
}